@import 'variables.less';
@import 'normalize.less';
@import 'animate.less';

body {
   background: #CC7F29 url(../static/images/square_bg.png) 0 0 repeat;
   display   : block;
   font-size : 16px;
   margin    : 0 auto;
   max-width : 100%;
   width     : 1400px;
}
img {
   border   : none;
   margin   : 0;
   max-width: 100%;
}
.container {
   background   : fade(#000,75);
   border-radius: .4em;
   box-shadow   : #333 2px 2px 5px;
   box-sizing   : border-box;
   color        : white;
   margin       : .5em auto;
   max-width    : 100%;
   padding      : 1.25em;
   width        : 960px;
}
body.calaverita {
   background: url('../static/images/dia-de-los-muertos-skull.jpeg') center center no-repeat;
   background-size: cover;
   h1, h3 {
      font-family: 'Creepster', cursive;
      font-size: 2.5em;
      letter-spacing: 2px;
      text-align: center;
   }
   p {
      font-family: 'Eater', cursive;
      font-size: 1em;
      letter-spacing: 2px;
   }
   .calavera {
      columns:2;
   }
   .container {
      background: fade(#000,80);
   }
}