@import 'variables.less';
@import 'normalize.less';
@import 'animate.less';

body {
   width: 1400px;
   max-width: 100%;
   display: block;
   margin: 0 auto;
   background: #CC7F29 url(../static/images/square_bg.png) 0 0 repeat;
   font-size: 16px;
}

.container {
   background: fade(#000,75);
   width: 960px;
   max-width: 100%;
   margin: 0 auto;
   padding: 1.25em;
   box-sizing: border-box;
   box-shadow: #333 2px 2px 5px;
   color: white;
}